@tailwind base;
@tailwind components;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  background-color: #f3f4f7;
}
.border-bottom {
  border-bottom: 1px solid #323a49;
}
.border-up {
  border-top: 1px solid #323a49;
}
.sideNav {
  overflow-y: scroll;
  height: 500px;
}
.sideNav::-webkit-scrollbar {
  width: 8px;
}
.sideNav::-webkit-scrollbar-track {
  background-color: transparent;
  background-clip: content-box;
}
.sideNav::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
}
.sideNav::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.header,
.path {
  border-bottom: 1px solid #dbdfe6;
}
.path {
  word-spacing: 2px !important;
  line-height: 20px;
}
.input:focus {
  box-shadow: 0 0 10px #d5d5f6;
  outline: 5px solid #d5d5f6;
}
input.category::file-selector-button {
  height: 40px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #e1e1f4;
  margin-right: 20px;
  cursor: pointer;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px !important;
  /* background-color: #555; */
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  border:2px solid;
  box-sizing: border-box;
  color: #000;
  background: 
    radial-gradient(circle 3px, currentColor 95%,#0000),
    linear-gradient(      currentColor 50%,#0000 0) 50%/3px 80% no-repeat,
    linear-gradient(90deg,currentColor 50%,#0000 0) 50%/60% 3px no-repeat;
  position: relative;
}
.loader:before {
  content: "";
  position: absolute;
  height: 50px;
  inset: 100% 10% auto;
  background:
    radial-gradient(circle closest-side at 50% calc(100% - 10px), currentColor 94%,#0000),
    linear-gradient(currentColor 0 0) top/3px 80% no-repeat;
  transform-origin: top;
  animation: l2 2s infinite cubic-bezier(0.5,200,0.5,-200);
}
@keyframes l2 {
  100% {transform: rotate(0.4deg)}
}

@tailwind utilities;
